<nav class="navbar navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item nav-left">
      <i class="bi bi-list" (click)="sideNavInfo = !sideNavInfo"></i>
    </li>
    <li class="nav-item nav-center">
      <img src="assets/auction-title.png" class="logo" />
    </li>
    <li class="nav-item nav-right">
<!--      <i class="bi bi-bell"></i>-->
      <span>{{ userFullName }}</span>
      <i class="bi bi-person-circle"></i>
    </li>
  </ul>
</nav>

<div class="main-layout">
  <ul class="nav flex-column side-nav">
    <li class="nav-item">
      <a
        class="nav-link d-flex align-items-center gap-2"
        routerLink="auctions-list"
        routerLinkActive="active"
      >
        <i class="bi bi-house"></i>
        @if (sideNavInfo) {
          <span>Auctions</span>
        }
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link d-flex align-items-center gap-2"
        routerLink="my-auctions"
        routerLinkActive="active"
      >
        <i class="bi bi-star"></i>
        @if (sideNavInfo) {
          <span>My Auctions</span>
        }
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link d-flex align-items-center gap-2"
        routerLink="my-bids"
        routerLinkActive="active"
      >
        <i class="bi bi-bag"></i>
        @if (sideNavInfo) {
          <span>My Bids</span>
        }
      </a>
    </li>

    <li class="nav-item" style="padding-top: 35rem">
      <a
        class="nav-link d-flex align-items-center gap-2"
        style="cursor: pointer"
        (click)="logout()"
      >
        <i class="bi bi-box-arrow-left"></i>
        @if (sideNavInfo) {
          <span>Log out</span>
        }
      </a>
    </li>
  </ul>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
