<app-table
  [data]="tableData"
  (onAddNew)="addDialogVisible = !addDialogVisible"
  (onOpenDetails)="openDetails($event)"
></app-table>
<p-dialog
  header="Create new auction"
  [modal]="true"
  [(visible)]="addDialogVisible"
  position="right"
  class="test"
  [style]="{ width: '40rem', height: '100vh' }"
>
  <form
    class="d-flex flex-column align-items-start gap-3 pt-3"
    [formGroup]="addNewAuctionForm"
  >
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Title"
        formControlName="title"
      />
    </div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Description"
        formControlName="description"
      />
    </div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Starting price"
        formControlName="startingPrice"
      />
    </div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="End Time"
        formControlName="endTime"
      />
    </div>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Images"
        formControlName="images"
      />
    </div>
  </form>
  <div class="d-flex justify-content-end gap-2 pt-3">
    <button class="btn btn-secondary" (click)="addDialogVisible = false">
      Cancel
    </button>
    <button class="btn btn-primary" (click)="addNewAuction()">Save</button>
  </div>
</p-dialog>
