/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

.app {
  background: #101010;
  color: #ffffff;
  font-family: "Montserrat";
  --bs-body-font-family: "Montserrat";

  form {
    //.input-group {
    //  input.ng-invalid.ng-touched {
    //    color: red;
    //    border: red 0.05rem solid;
    //  }
    //
    //  input.ng-invalid.ng-touched::placeholder {
    //    color: red;
    //  }
    //}

    input.form-control {
      background: #24252d;
      border: none;
      color: #ffffff;
      width: 25rem;
      height: 3rem;
    }

    input::placeholder {
      color: #ffffff;
      opacity: 50%;
    }

    input.ng-invalid.ng-touched {
      // @extend .is-invalid !optional;
      color: red;
      border: red 0.05rem solid;
    }

    input.ng-invalid.ng-touched::placeholder {
      color: red;
      opacity: 100%;
    }

    .invalid-message-feedback {
      display: block;
      position: relative;
      width: 100%;
      margin-top: -0.7rem;
      font-size: 0.875rem;
      color: red;
    }
  }

  select{
    border: none;
    color: #ffffff;
    width: 25rem;
    appearance: none;
    -webkit-appearance: none;
    background: #24252d url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 16 16" fill="white" %3E%3Cpath d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/%3E%3C/svg%3E') no-repeat right 1rem center;
    background-size: 12px;
  }

}
